/* navigation-style */
.button{
    border: 3px solid black;
    display: inline-block;
    padding: 15px;
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}   
header{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.icon{
    display: flex;
    justify-content: center;
}
.one-ta{
    background-image: url(assets/Hero-bg.png);
    margin-bottom: 100px;
    padding-bottom: 30px;
}
.one-tar-title{
    text-align: center;
    font-size: larger;
}
p{
    text-align: center;
    width: 600px;
}
.pera{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.button{
    width: 200px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
}
.cntc-btn{
    display: flex;
    justify-content: center;
}

.skill-title{
    padding-top: 30px;
    font-size: 70px;
    text-align: center;
}
.skills{
    background-color:#FAFAFB;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 100px;
}

.skh-title > h3{
    font-size: 30px;
}
.skh-title{
    margin-top: 0px;
    text-align: left;
    /* background-color: white; */
}
.skh-p{
    text-align: left;
}
.lrn-more{
    padding: 28px;
    font-size: 20px;
    border-radius: 5px;  
}
.sk-h-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 50px;
}
.skh-img{
    margin-top: 20px;
}

.sk-h-two{
    display: flex;
    background-color: white;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 50px;
    align-items: center;
    
}

.sk-h-three{
    display: flex;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 50px;
    background-color: white;
    align-items: center;
    justify-content: space-between;

}
/* End of another section */

.aim{
    display: flex;
    justify-content: center;

}
.aim-title{
    font-size: 50px;
}
.aim-discribtion{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    margin-bottom: 35px;
}
iframe{
    width: 1080px;
    height: 500px;
}
.aim-vedio{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
/* End of vedion section */

.crnt-target-contain{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.crnt-target{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.crnt-target h1{
    font-size: 36px;
}
.crnt-target-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.crnt-target-contain a{
    text-decoration: underline;
}
.Html p{
    text-align: left;
}
.Html{
    text-align:left ;
    background-color: #FFF6F4;
    /* border: 1px solid black; */
    width: 255px;
    height: 230px;
    margin-top: 10px;
    padding: 8px;
}
.Css p{
    text-align: left;
}
.Css{
    text-align:left ;
    background-color: #F2F6FE;
    /* border: 1px solid black; */
    width: 255px;
    height: 230px;
    margin-top: 10px;
    padding: 8px;
}
.JavaScript p{
    text-align: left;
}
.JavaScript{
    text-align:left ;
    background-color: #FFFDF2;
    /* border: 1px solid black; */
    width: 255px;
    height: 230px;
    margin-top: 10px;
    padding: 15px;
}
/*  End Of current Terget */